<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>Abarrotes TIC</title>
</head>

<body>
    <div data-role="page" data-theme="b">
        <div data-role="header">
            <h1>Abarrotes Brayzzo</h1>
        </div>
        <div data-role="content">

            <div class="ui-grid-b center" style="text-align: center;">
                <div class="ui-block-a"><a class="ui-shadow ui-btn ui-corner-all ui-icon-home ui-btn-icon-notext ui-btn-inline">Button</a></div>
                <div class="ui-block-b"><a href="/insert/insertCandy" class="ui-shadow ui-btn ui-corner-all ui-icon-plus ui-btn-icon-notext ui-btn-inline">Button</a></div>
                <div class="ui-block-b"><a href="/viewCart/Cart" class="ui-shadow ui-btn ui-corner-all ui-icon-shop ui-btn-icon-notext ui-btn-inline">Button</a></div>

                </div>


                <div data-role="content">

                    <style>
                        .ui-grid-b {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                        }
                
                        .ui-block {
                            width: calc(33.33% - 10px); /* Ajusta el ancho según sea necesario y resta el margen */
                            margin-bottom: 20px; /* Espaciado entre las filas */
                        }
                    </style>

                    <div class="ui-grid-b">
                        <% for (let i = 0; i < candy.length; i++) { %>
                            <div class="ui-block">
                                <div class="ui-card ui-shadow">
                                    <div class="ui-card-header">
                                        <h2><%= candy[i].description %></h2>
                                    </div>
                                    <div class="ui-card-content">
                                        <p>Brand: <%= candy[i].brand %></p>
                                        <p>Price: <%= candy[i].price %></p>
                                    </div>
                                    <div class="ui-card-footer">
                                        <p>Stock: <%= candy[i].stock %></p>
                                    </div>

                                    <div class="ui-block-c"><a href="/<%= candy[i].barcode %>" class="ui-shadow ui-btn ui-corner-all ui-icon-edit ui-btn-icon-notext ui-btn-inline">Button</a></div>
                                    <div class="ui-block-c"><a href="/delete/<%= candy[i].barcode %>" class="ui-shadow ui-btn ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-inline">Button</a></div>
                                    <a href="/addToCart/<%= candy[i].barcode %>" class="ui-shadow ui-btn ui-corner-all ui-icon-plus ui-btn-icon-notext ui-btn-inline">Add to Cart</a>


                                </div>
                            </div>
                        <% } %>
                    </div>
            
                </div>  


            
            </div>
        <div data-role="footer">
            <h5>Developed by BraytoGBDX</h5>
        </div>
    </div>
</body>

</html>
