<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>Dulces Brayzzo</title>
</head>

<body>
    <div data-role="page" data-theme="b">
        <div data-role="header">
            <h1>Abarrotes TIC</h1>
        </div>
        <div data-role="content">
            <div data-role="content">
                <form action="/<%= candy.barcode %>" method="post">
                    <div class="ui-field-contain">
                    <label for="textinput-fc">Codigo:</label>
                    <input type="text" name="barcode" placeholder="Código de barras" value="<%= candy.barcode %>">
                </div>

                    <div class="ui-field-contain">
                        <label for="textinput-fc">Descripcion:</label>
                        <input type="text" name="description" placeholder="Descripcion" value="<%= candy.description%>">
                    </div>

                        <div class="ui-field-contain">
                            <label for="textinput-fc">Marca:</label>
                            <input type="text" name="brand" placeholder="Marca" value="<%= candy.brand %>">
                        </div>
                    
                        <div class="ui-field-contain">
                            <label for="textinput-fc">Precio compra:</label>
                            <input type="number" name="price" placeholder="Precio de compra" value="<%= candy.price %>">
                        </div>
                    
                        <div class="ui-field-contain">
                            <label for="textinput-fc">Pecio de venta:</label>
                            <input type="number" name="cost" placeholder="Precio de venta" value="<%= candy.cost %>">
                        </div>

                        <div class="ui-field-contain">
                            <label for="textinput-fc">Existencias:</label>
                            <input type="number" name="stock" placeholder="Existencias" value="<%= candy.stock %>">
                        </div>

                        <div class="ui-field-contain">
                            <label for="textinput-fc">Fecha de caducidad:</label>
                            <input type="date" name="expiredDate" placeholder="Caducidad" value="<%= candy.expiredDate %>">
                        </div>
                        <select name="status" data-role="slider" data-mini="true" defaultvalue="<%= candy.status %>">
                            <% if (candy.status == 1) { %>
                                <option value="0">No</option>
                                <option value="1" selected>Si</option>
                                <% } else { %>
                                <option value="0" selected>No</option>
                                <option value="1" >Si</option>         
                            <% } %>
                        </select>
                    

                        <input type="hidden" name="_method" value="PUT">
                
                
                <button type="submit" id="submit-8" class="ui-shadow ui-btn ui-corner-all ui-mini">Guardar producto</button>
            </form>
            
        <div data-role="footer">
            <h5>Developed by BraytoGBDX</h5>
        </div>
    </div>
</body>

</html>
